.userpage-booklist {
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.list-header {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-header h3 {
  font-size: 18px;
  color: #333;
}

.userpage-booklist ul {
  margin: 10px;
  list-style: none;
  padding: 0;
}

.userpage-booklist li {
  padding: 5px 0;
}

.userpage-booklist li span {
  font-size: 16px;
  color: #333;
}
