.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 420px;
}

.login-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.login-form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 0.5rem;
}

.login-form-control {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.login-submit-button-div {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}

.login-submit-button {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #CAB295;
  font-size: 18px;
  color: #FAFAFA;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #b99971;
}

.not-account {
  margin-top: 20px;
  margin-left: auto;
  display: flex;
}

.not-account p {
  color: #555;
  margin-left: auto;
}