.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 800px;
}

.register-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 98%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.form-control::placeholder {
  font-family: inherit;
  font-size: inherit;
}

textarea.form-control {
  font-family: inherit;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.genre-button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  color: #555;
  transition: background-color 0.3s, color 0.3s;
}

.genre-button:hover {
  background-color: #555;
  color: white;
}

.genre-button.selected {
  background-color: black;
  color: white;
}

.submit-button-div {
  display: flex;
  margin: 0;
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #CAB295;
  font-size: 18px;
  color: #FAFAFA;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #b99971;
}

.already-registered {
  margin-top: 20px;
  display: flex;
}

.already-registered p {
  color: #555;
  margin-left: auto;
}